<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   
    <!-- Bootstrap -->
    <link href="../../../../../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../../../../../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../../../../../vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
   <link href="../../../../../vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../../../../../build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <% if(user.user_roll == "admin"){%>
          <%- include ('./partials/sidebar') %>
       <% }else if(user.user_roll == "Sales_Manager"){%>
        <%- include ('./partials/sidebarsalesmanager') %>
        <% }else if(user.user_roll =="Inventory_Manager"){%>
          <%- include ('./partials/sidebarinventorymgr') %>
          <% }else if( user.user_roll ==="Production_Manager" ){%>
            <%- include ('./partials/sidebarproductionmgr') %>
            <% }%>
            <!-- top navigation -->
            <%- include ('./partials/header') %>
			<!-- /top navigation -->
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="container-fluid">
                <div class="page-header min-height-100 border-radius-xl mt-4" style="background-image: url('../../../../assets/img/curved-images/sds.jpg'); background-position-y: 50%;">
                  <span class="mask  opacity-6"></span>
                  <div >
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Send Product Request</li>
                      </ol>
                    </nav>
                  </div>
                </div>
              
              </div>
            <div class="clearfix"></div>

            <div class="row" style="display: block;">
            
              <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Send Product Request Form</h2>
                   
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">
                    <%- include ('./partials/messages')%>
                    <br />
									
                    <ul class="nav nav-tabs justify-content-end bar_tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home" aria-selected="true">New Product Request</a>
                      </li>
                      
                      
                      <li class="nav-item">
                        <a class="nav-link" id="contact2-tab" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact2" aria-selected="false">New Product Request List</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="contact3-tab" data-toggle="tab" href="#contact3" role="tab" aria-controls="contact3" aria-selected="false">Old Product Request List</a>
                          </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="/inventorymanager/sendproductrequest" method="post">
  
                          <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="full-name">Product Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                              <select class="form-control" name="productid">
                                <option value="0">Select Product Name</option>
                                <% if(productlist.length >0){%>
                                  <% productlist.forEach(function (row){%>
                                    <option value="<%=row.productid %>"><%= row.productname %></option>
                                  <% })}else{}%>
                              </select>
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="full-name">Brand Name <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                              <select class="form-control" name="brandid">
                                <option value="0">Select Shop Name</option>
                                <% if(brandlist.length >0){%>
                                  <% brandlist.forEach(function (row){%>
                                    <option value="<%=row.brandid %>"><%= row.brandname %></option>
                                  <% })}else{}%>
                              </select>
                            </div>
                          </div>
                          <div class="item form-group">
                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="full-name">Amount <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 ">
                              <input type="text" id="amount" name="amount" required="required" onkeypress="return isNumberKey(event)" class="form-control">
                              <SCRIPT language=Javascript>
                                <!--
                                function isNumberKey(evt)
                                {
                                   var charCode = (evt.which) ? evt.which : evt.keyCode;
                                   if (charCode != 46 && charCode > 31 
                                   && (charCode < 48 || charCode > 57))
                                    return false;
                             
                                   return true;
                                }
                                //-->
                               </SCRIPT>
                              
                            </div>
                          </div>
                        
                          <div class="ln_solid"></div>
                          <div class="item form-group">
                            <div class="col-md-6 col-sm-6 offset-md-3">
                              
                              <button type="submit" class="btn btn-success btn-block">Submit</button>
                            </div>
                          </div>
      
                        </form>
                      </div>
                      
                    
                      <div class="tab-pane fade" id="contact2" role="tabpane" aria-labelledby="contact2-tab">
                        <table class="table table-striped jambo_table bulk_action" id="myTable">
                          <thead>
                            <tr class="headings">
                              <th>#</th>
                            <th class="column-title">Product Name </th>
                            <th class="column-title">Product Name </th>
                            <th class="column-title">Brand Name </th>
                            <th class="column-title">Amount </th>
                            <th class="column-title">Status </th>
                            <th class="column-title">Request Date </th>
                            <th class="column-title">Action ToDo</th>
                            
                            </tr>
                          </thead>
              
                          <tbody>
                          
                           <% if(productrequest.length >0){%>
                          <% var i =0 %>
                           <% productrequest.forEach(function (row){%>
                          <% i++ %> 
                          <tr class="even pointer">
                            <td class=" "><%= i %></td>
                            <td class=" "><%= row.productcode %></td>
                          
                            <td class=" "><%= row.productname %></td>
                            <td class=" "><%= row.brandname %></td>
                            <td class=" "><%= row.totamount %></td>
                            <th class="column-title"><%= row.status %> </th>
                            <th class="column-title"><%= new Date(row.createdAt).toLocaleDateString() %> </th>
                            <td>
                              <% if(row.status ==="Sent") {%>
                                <form action="/inventorymanager/deleteproductrequest/<%= row.prid %>" method="post">
                                  <button class="btn btn-outline-warning btn-sm ">Delete Request</button>
                                </form>
                              <%}else{%>
                            
                              <%}%>
                            </td>
                            </tr>
                           <% })}else{%>
                          <tr>
                            <div class="alert alert-warning alert-dismissible " role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                              </button>
                              <strong>Error!</strong> No Product Requset Data Found!
                              </div>
                          </tr>
                           <% }%>
  
                        
                          </table>
                        </div>
                        <div class="tab-pane fade" id="contact3" role="tabpane" aria-labelledby="contact3-tab">
                          <table class="table table-striped jambo_table bulk_action" id="myTable3">
                            <thead>
                              <tr class="headings">
                                <th>#</th>
                              <th class="column-title">Product Name </th>
                              <th class="column-title">Product Name </th>
                              <th class="column-title">Brand Name </th>
                              <th class="column-title">Request Amount / Recieved Amount </th>
                              <th class="column-title">Status </th>
                              <th class="column-title">Sent From</th>
                              <th class="column-title">Update Date </th>
                             
                              </tr>
                            </thead>
                
                            <tbody>
                            
                             <% if(oldproductrequest.length >0){%>
                            <% var i =0 %>
                             <% oldproductrequest.forEach(function (row){%>
                            <% i++ %> 
                            <tr class="even pointer">
                              <td class=" "><%= i %></td>
                              <td class=" "><%= row.productcode %></td>
                            
                              <td class=" "><%= row.productname %></td>
                              <td class=" "><%= row.brandname %></td>
                              <td class=" "><%= row.totamount %>/<%= row.sentamount %></td>
                              <th class="column-title"><%= row.status %> </th>
                              <th class="column-title">
                                <% var wsid = row.sentfrom %> 
                              <% if(warelist.length >0){%>
                                <% warelist.forEach(function (row){%>
                               
                                  <% if(row.warehouseid ===wsid){%>
                                    <span>Warehouse/<%= row.warehousename %></span><br>
                                    <span class="badge bg-primary"><%= row.warehouseaddress %></span>
                                    <%}%>
                                <% })}else{}%>
                                <% if(shoplist.length >0){%>
                                  <% shoplist.forEach(function (row){%>
                                    <% if(row.shopid ===wsid ){%>
                                      <span>Shop/<%= row.shopname %></span><br>
                                      <span class="badge bg-primary"><%= row.shopaddress %></span>
                                      <%}%>
                                  <% })}else{}%>
                              
                              </th>
                              <th class="column-title"><%= new Date(row.updatedAt).toLocaleDateString() %> </th>
                              
                              </tr>
                             <% })}else{%>
                            <tr>
                              <div class="alert alert-warning alert-dismissible " role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                </button>
                                <strong>Error!</strong> No Old Product Requset Data Found!
                                </div>
                            </tr>
                             <% }%>
    
                          
                            </table>
                          </div>
                      </div>
						
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
      <%- include ('./partials/footer')%>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->- 
    <script src="../../../../../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
   <script src="../../../../../vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="../../../../../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../../../../../vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="../../../../../vendors/iCheck/icheck.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../../../../../build/js/custom.min.js"></script>
    <script>
		$(document).ready(function() {
			$('#myTable').DataTable();
      $('#myTable3').DataTable();
      
		});
	</script>
	<link href="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.css" rel="stylesheet">
 
	<script src="https://cdn.datatables.net/v/dt/dt-1.13.6/datatables.min.js"></script>
  </body>
</html>
